<!DOCTYPE html>
<html>

<head>
    <title>BossDB Labs: Zarr N5</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}"/>
</head>

<body>
    <p align="center">
        <img src='https://user-images.githubusercontent.com/693511/201149780-b9131c22-3c80-4e15-9ec2-919652ae189d.png'
            width=250> <img src='static/pyreconstruct.png' width=250>
    </p>
    <h1 align="center">
        BossDB Labs: PyReconstruct
    </h1>
    <p>
        <a href="https://github.com/SynapseWeb/PyReconstruct">PyReconstruct</a> 
        is a downloadable annotation tool useful for tracing and identifying ultrastructural
        cell features. It is actively maintained by the Kristen Harris lab at the 
        University of Texas at Austin. To annotate BossDB-hosted image volumes 
        using PyReconstruct, download a subvolume using this webpage, then import 
        it into PyReconstruct using the guide below.
    </p>

    <form action="/download">

        <label>S3 Path to Image Data:</label>
        <input type="text" name="image-path" id="image-path" class="wide-input">
        <p>
            The prefix of this path should be <code>s3://bossdb-open-data</code>. 
            To find the correct S3 path, visit the project page on 
            <a href="https://bossdb.org/projects">https://bossdb.org/projects</a>,
            view your project in Neuroglancer, copy the source URI for the image
            layer, and remove the <code>precomputed://</code> prefix.
        </p>

        <label>X Coordinates</label>
        <div class="flex">
            <input 
                type="number" 
                start="0"
                step="1"
                name="x-start" 
                id="x-start" 
            >
            <p class="padding-x"> to </p>
            <input 
                type="number" 
                start="0"
                step="1"
                name="x-end" 
                id="x-end" 
            >
        </div>

        <label>Y Coordinates</label>
        <div class="flex">
            <input 
                type="number" 
                start="0"
                step="1"
                name="y-start" 
                id="y-start" 
            >
            <p class="padding-x"> to </p>
            <input 
                type="number" 
                start="0"
                step="1"
                name="y-end" 
                id="y-end" 
            >
        </div>

        <label>Z Coordinates</label>
        <div class="flex">
            <input 
                type="number" 
                start="0"
                step="1"
                name="z-start" 
                id="z-start" 
            >
            <p class="padding-x"> to </p>
            <input 
                type="number" 
                start="0"
                step="1"
                name="z-end" 
                id="z-end" 
            >
        </div>

        <label>Downloaded Filename</label>
        <input type="text" name="downloaded-filename" id="downloaded-filename" class="wide-input">

        <button type="submit">Submit</button>
    </form>

</body>

</html>