<!DOCTYPE html>
<html>

<head>
    <title>BossDB Labs: Zarr N5</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
</head>

<body>
    <p align="center">
        <img src='https://user-images.githubusercontent.com/693511/201149780-b9131c22-3c80-4e15-9ec2-919652ae189d.png'
            width=250> <img src='static/pyreconstruct.png' width=250>
    </p>
    <h1 align="center">
        BossDB Labs: PyReconstruct
    </h1>
    <p>
        <a href="https://github.com/SynapseWeb/PyReconstruct">PyReconstruct</a> 
        is an annotation tool useful for tracing and identifying ultrastructural
        cell features. It is actively maintained by the Kristen Harris lab at the 
        University of Texas at Austin. To annotate BossDB-hosted image volumes 
        using PyReconstruct, download a subvolume using this webpage, then import 
        it into PyReconstruct using the guide below.
    </p>

</body>

</html>